<nav class="nav-inner">
  <a href="/" class="nav-logo-link"><img src="/images/logo.svg" alt="etc." class="nav-logo-img"></a>
  <div class="nav-links">
    <a href="/about" class="<%= locals.page === 'about' ? 'active' : '' %>">About</a>
    <a href="/photography" class="<%= locals.page === 'photography' ? 'active' : '' %>">Photography</a>
  </div>
</nav>
